 
 
.bg-fx>#img_show {
  padding-top: 50px;
  width: auto;
  width: 73%;
  margin: 0 auto;
}
 .bg-fx>.bgbulunbo {
  margin: 0 auto;
  width: 100% !important;
}

 .bg-fx>#can4 {
  height: 860px;
}
#can5 {
  height: 760px;
}
 .bg-fx>#can6 {
  height: 800px;
}
 .bg-fx>#can3 {
  height: 800px;
}
 .bg-fx>#can1 {
  height: 860px;
}
 .bg-fx>#can2 {
  height: 770px;
}
 .bg-fx>.carousel {
  border: 2px solid white;
  border-radius: 4px;
}
.bg-fx {
  background-color: #9c7743;
}
 
.bg-fx> .cantainer {
  width: 1110px;
  height: 960px;
  margin: 0 auto;
  background-color: white;
  border-radius: 1%;
  margin-bottom: 1.5rem;
}

 .bg-fx>.cantainer > center {
  padding: 20px 0;
  display: block;
  font-size: 20px;
  color: #638583;
  font-size: 2.25rem;
}
 .bg-fx>.cantainer > .wenzi {
  padding: 0 123px;
  margin-bottom: 30px;
}
 .bg-fx>.cantainer > .wenzi > span {
  /* 文字缩进 */
  text-indent: 2em;
  color: #736a7b;
  font-family: domine, sans-serif, Tahoma, Geneva, Arial, "Microsoft YaHei",
    微软雅黑;
  font-size: 1.15rem;
  font-weight: 400;
}
 .bg-fx>.cantainer > .tupian {
  width: 945px;
  margin: 0 120px;
}
 .bg-fx>.cantainer > .tupian > img {
  width: 395px;
  height: 266px;
  border-radius: 2%;
}
 .bg-fx>.cantainer > .tupian > img:first-child {
  margin-right: 88px;
}
.bg-fx> .cantainer > .footer > span:first-child {
  margin-left: 15rem;
  margin-right: 24.7rem;
}
.bg-fx> .cantainer > .footer > span {
  font-family: "nexa";
  font-weight: 700;
  font-size: 1.2rem;
  color: #656a7b;
  margin-top: 0.5rem;
  display: inline-block;
}  